/* Global properties */

*{
    margin:0;

}

html {
    scroll-behavior: smooth;
  }

h1{
    font-family: Comfortaa;
}

:root{
    --color-dark: #3f5a4c;
    --color-light: #D5DCDC;
    --accent-dark: #3A887C;
    --accent-light: #C0C49B;
    --accent-mid: #52837678;
    --accent-mid-light: #86c8b63d;

    --section-padding: 30px;
}

/* button properties */
.btn {
    border-width: 6px;
    border-radius: 30px;
}

.btn-outline-primary,
.btn-primary {
    color: var(--accent-light);
    border-color: var(--color-dark);
}
.btn-primary{
    background-color: var(--color-dark);
}

.btn-outline-primary:hover,
.btn-primary:hover{
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

a:hover {
    color: var(--accent-dark)
}

.btn-primary.disabled{
    background-color: var(--color-dark);
    border-color: var(--color-dark);
    color: var(--accent-light);
}

/* NavBar properties */

.bg-dark{
    background-color: var(--color-dark) !important;
}

.navbar-brand{
    font-family: Smythe;
    font-size: 2rem;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1%;
    padding-right: 1%
}
.nav-link{
    color: var(--color-light) !important;
}

.navbar-weblinks a{
    color: var(--accent-light);
    padding-inline: 10px;
    text-decoration: none;
    
}

.navbar-weblinks a:hover{
    color: var(--accent-dark);
}

.dropdown-menu {
    background-color: var(--color-light);
    color: var(--color-dark);
}

/* To align weblink icons on navbar */
@media only screen and (max-width: 992px){
    .navbar-weblinks {
        display:flex;
        justify-content: space-around;
        padding-top: 2%;
    }
}

/* Hero Banner Properties */

#hero-video{    
position:absolute;
object-fit: fill;
min-width: 100%; 
min-height: 100%;
height:auto;
right:0;
bottom:0;
width:100%;
}

.jumbotron{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-bottom: 0;
    height: 100vh;
    background-color: var(--color-light);
}
.jumbotron .container{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(7px);
    border-radius: 50px;
    padding:10px;
    position:sticky;
    top:35%;
    margin-bottom:5rem;
    
    box-shadow: 0 0px 8px 0 rgba(245, 255, 244, 0.2), 0 6px 20px 0 rgba(206, 255, 222, 0.19);
}

#hero-text h1{
    font-weight:bold;
    font-stretch:expanded;
    font-size: 5rem;
    max-width:100%;
    color: var(--color-light);
    overflow: overlay;
}

#hero-text .last-name{
    font-weight:200;
}

#hero-text .hero-subtitle{
    font-weight: 400;
    color: var(--accent-light)
}

#hero-text hr{
    background-color: var(--color-light)
}

#hero-text .hero-subtitle2{
    font-weight: 400;
    color: var(--accent-dark);
    text-shadow: 0 0px 8px 0 rgba(215, 255, 210, 0.2), 0 6px 20px 0 rgba(174, 255, 199, 0.19);
}

#hero-gap{
    width:40px;
}

#hero-img img{
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    bottom:0;
}


/* Projects section properties */

#projects{
    background-color: var(--color-light);
    padding-bottom: var(--section-padding);
}
#projects .container{
    padding-top:20px;
    padding-bottom:20px;
    max-width:1440px;
}
/* Project cards */

.card{
    margin: 20px;
    background-color: var(--accent-mid-light);
    color: var(--color-dark);
    border-width: 1px;
    border-color: rgba(63, 90, 76, 0.3);
    box-shadow: 0 0px 8px 0 rgba(245, 255, 244, 0.2), 0 6px 20px 0 rgba(206, 255, 222, 0.19);

}

.card h5{
    color: var(--accent-dark)
}

/* Skill section Properties */

#skills{
    background-color: var(--accent-mid);
    padding-top: var(--section-padding);
    padding-bottom: 60px; 
    height: fit-content;
}

#skills h1{
    padding:20px;
}

#skills .lead{
    margin-inline: 5%;

}

#skills-icons{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}


/* About me Section properties */

#about{
    padding-top: 100px;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#about h1{
    padding-bottom: var(--section-padding);
}

#about .lead{
    margin-inline: 5%;
}
#about a{
    margin-top: var(--section-padding);
}

/* Contact section */

.about-contact{
    background-color: var(--color-dark);
}

#contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#contact hr{
    padding-bottom: var(--section-padding);
}

.about-contact h1{
    color:var(--accent-light);
    padding-top: var(--section-padding);
}

.about-contact p{
    color:var(--color-light);
}

.about-contact .btn-primary{
    background-color: var(--accent-light);
    color:var(--color-dark);
}

.about-contact .btn-primary:hover{
    background-color: var(--accent-dark);
    color:var(--color-light);
    border-color: var(--color-light);
}

#contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: var(--section-padding)
}

#contact-icons a{
    text-decoration: none;
    color: var(--color-light)
}


#contact-icons span{
    color: var(--accent-light)
}

/* Footer properties */

footer{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

#footer .nav-link{
    padding-bottom: var(--section-padding);
    color: var(--color-dark) !important;
}